*{
  cursor: default;
}
html{
 background-color: #f4f2f2;
}
#root{
  overflow-x: auto;
  margin: auto;
  width: 300px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: #31313180 0px 0px 20px 5px;
  border-radius: 20px;
  padding-bottom: 5px;
  background-color: white;
}
.contenedor{
  width: 300px;
  background-color: white;
  
}
.header-figure{
margin: 0;
overflow: hidden;
height: 130px;
border-radius: 20px 20px 0px 0px;
}
.porta-header{
  position: relative;
  width: 130%;
  top: -10px;
  left: -30px;
}
.Face-Picture{
width: 100px;
height: 100px;
border-radius: 50%;
border: solid 2px white;
position: relative;
top: -50px;
margin: 0 auto;
margin-bottom: -50px;
overflow: hidden;
box-shadow: #00000080 0px 0px 20px 5px;
}
.avatar {
  left: 0px;
  position: relative;
  top: 0px;
  width: 103%;
}
.My-name{
  font-weight: 500;
  text-align: center;
    line-height: 0.5em;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.Ocupacion{
  font-size: 1.2em;
  text-align: center;
    line-height: 0.5em;
    font-weight: lighter;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.Info_Personal{
  padding: 0 10px;
  display: block;
}
.P{
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.skill{
  margin-top: 30px;
}
.skill-title{
  
  line-height: 0.5em;
  font-weight: lighter;
  margin-top: 30px;
}
.contactame{
  margin-left: 10px;
}
.nav-contactame{
  margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 240px;
    margin-bottom: 10px;
}
.nav-contactame a{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: #0c0c0c;
  color: rgb(244, 242, 242);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: all ease 1s;
}
.nav-contactame a:hover{
  box-shadow: #2e2e2e80 0px 0px 10px 5px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.copy {
  text-align: center;
  margin: 20px 0;
}
.experience {
  width: 100%;
  display: block;
  margin-bottom: 25px;
}
.experience h4 {
  margin: 0.5em 0;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}
.experience p {
  font-size: 15px;
  padding-left: 5px;
  margin: 0;
}
.experience h4 span {
  font-size: 10px;
  font-weight: lighter;
}
.__a{
  cursor: pointer;
  font-weight: 600;
  color:black;
}
.__a{
  text-decoration: none;
}
.btn_a{
  background-color: #0075ff38;
  transition: all ease 0.5s;
  margin-left: 5px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  margin-top: 5px;
}
.btn_a:hover{
  transition: all ease 0.5s;
  box-shadow: 0px 0px 7px 0px gray;
}